html, body, .input-group-addon, .form-control {
    font-size: 16px;
}

html, body { font-family: 'Raleway', sans-serif; }

body {
    background-color: #073b4c;
    color: #06d6a0;
}

ul, ol {
    padding-left: 1em;
}

.card-header p {
    margin: 0;
}

code{display: inline-block;padding: 8px;color: #ccc;background-color: rgba(0,0,0,0.1);border: 2px solid rgba(0,0,0,0.15);border-radius: 4px;}
pre{display: block;padding: 9.5px;margin: 0 0 10px;font-size: 14px;line-height: 1.5;word-break: break-all;word-wrap: break-word;color: #ccc;background-color: rgba(0,0,0,0.1);border: 2px solid rgba(0,0,0,0.15);border-radius: 4px;}
pre code{padding: 0;font-size: inherit;color: inherit;white-space: pre-wrap;background-color: rgba(0,0,0,0.1);border-radius: 0;}

p code,
li code {
    padding: 0 4px;
}

.btn {
    border: 0 none;
    border-radius: 8px;
    padding: 0.75em 3em;
}

label {
    font-size: 0.85em;
    font-weight: 300;
    margin: 0;
}

.input-group-addon,
.form-control,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon {
    background-color: transparent;
}

.radio.radio-inline { margin-top: 0; }

.margin-lg {
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel {
    border: 2px solid #fff;
}

.bg-white {
    background-color: #fff;
}

.no-bg {
    background-color: transparent !important;
}




/* FORM */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
[type="file"] {
    cursor: pointer;
}
textarea {
    resize: none;
}
[data-formjs-question],
.question-box,
.answers-box,
.form-group {
    position: relative;
}
.form-group:first-child {
    margin-top: -4px;
}

.form-control {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.85em;
    line-height: inherit;
    color: #fff !important;
    background-color: transparent !important;
    background-image: none;
    border: 0 none;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
    position: relative;
    z-index: 1;
}
.radio + .input-group {
    margin-top: -5px;
}

.input-group-prepend {
    margin-right: 0;
}
.input-group-prepend .input-group-text {
	background-color: transparent;
    color: #06d6a0;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    padding-left: 0;
}
.input-group-prepend .input-group-text label {
    margin-left: 0.15rem;
}
.has-error .input-group-prepend .input-group-text {
    border-width: 2px;
    border-color: #a94442;
}

/* ANIMATED LABELS */
.label-fade-down .form-control + label,
.label-move-up .form-control + label {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: absolute;
    left: 0;
    z-index: 0;
}

/* LABEL INLINE */
.label-inline {
    border-bottom: 1px solid rgba(255,255,255,0.25);
    -webkit-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
    overflow: hidden;
}
.label-inline label {
    position: static;
    display: table-cell;
    padding-right: 15px;
    vertical-align: middle;
    white-space: nowrap;
}
.label-inline .field-box {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
}
.label-inline .form-control {
    border-bottom: 0 none;
}

/* LABEL INLINE FLEX */
.label-inline-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row-reverse nowrap;
    -moz-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.label-inline-flex .form-control {
    border: 0 none;
}
.label-inline-flex label {
    position: static;
    padding-right: 15px;
    white-space: nowrap;
    margin: 0;
    transition: all 0.2s linear;
}
.label-inline-flex label:after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    -webkit-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
}
.has-error.is-dirty .label-inline-flex .form-control + label,
.label-inline-flex .form-control:focus + label,
.is-dirty .label-inline-flex .form-control + label {
    font-size: 0.75em;
    padding-right: 7px;
}
.label-inline-flex .form-control:focus + label:after {
    border-color: rgba(255,255,255,0.5);
}

/* LABEL FADE DOWN */
.label-fade-down .form-control + label {
    margin: 0;
    line-height: 34px;
    top: 0;
}
.has-error.is-dirty .label-fade-down .form-control + label,
.label-fade-down .form-control:focus + label,
.is-dirty .label-fade-down .form-control + label {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
}

/* LABEL MOVE UP */
.label-move-up .form-control {
    height: 3em;
    padding: 0.5em 0;
    margin-top: 1.5em;
}
.label-move-up .form-control[type="file"] {
    height: inherit;
}
.label-move-up .form-control + label {
    margin: 0;
    line-height: 1;
    top: 50%;
     -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.label-move-up textarea.form-control + label {
    top: 0.5em;
}
.label-move-up .form-control[type="date"] + label,
.label-move-up .form-control[type="file"] + label,
.has-error.is-dirty .label-move-up .form-control + label,
.label-move-up .form-control:focus + label,
.is-dirty .label-move-up .form-control + label {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    top: 0;
    font-size: 0.75em;
}

.form-control:focus {
    border-bottom-color: rgba(255,255,255,0.5);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control.smaller {
    font-size: 75%;
}
.label-move-up textarea.form-control,
textarea.form-control {
    line-height: inherit;
    height: 6em;
}
label, .radio label, .checkbox label {
    font-weight: 300;
}
.checkbox, .radio {
    text-align: left;
}
.checkbox label:before, .radio label:before {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin: 0;
    top: 4px;
    left: 7px;
}
.checkbox label:after, .radio label:after {
    width: 19px;
    height: 19px;
    font-size: 15px;
    margin: 0;
}
.checkbox label:after {
    top: 2px;
}
.radio label:before {
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}
.radio input[type="radio"]:checked + label:before {
    background-color: #fff;
}
.radio input[type="radio"]:checked + label:after {
    content: "";
    width: 16px;
    height: 16px;
    top: 6px;
    left: 9px;
}
.input-group {
    color: #fff;
}

/* FIELD WITH ERROR */
.has-error .form-control,
.has-error .form-control:focus,
.has-error .label-inline,
.has-error .label-inline-flex .form-control + label:after {
    border-color: #a94442;
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error .label-inline,
.has-error .label-inline-flex .form-control + label:after {
    border-color: #a94442;
}

/* FIELD ERROR MESSAGE */
.field-error-message,
[data-error-type] {
    display: none;
    color: #a94442;
}
.has-error .field-error-message,
.has-error.has-error-empty [data-error-type="empty"],
.has-error.has-error-rule [data-error-type="rule"] {
    display: block;
}
.has-error.has-error-empty li[data-error-type="empty"],
.has-error.has-error-rule li[data-error-type="rule"] {
    display: list-item;
}

.has-error.has-error-rule-maxlength li[data-error-type="maxlength"],
.has-error.has-error-rule-minlength li[data-error-type="minlength"],
.has-error.has-error-rule-missingNumber li[data-error-type="missingNumber"],
.has-error.has-error-rule-missingLowercase li[data-error-type="missingLowercase"],
.has-error.has-error-rule-missingUppercase li[data-error-type="missingUppercase"],
.has-error.has-error-rule-invalidChars li[data-error-type="invalidChars"],
.has-error.has-error-rule-invalidStartChar li[data-error-type="invalidStartChar"]
.has-error.has-error-rule-missingAtChar li[data-error-type="missingAtChar"],
.has-error.has-error-rule-missingUserName li[data-error-type="missingUserName"],
.has-error.has-error-rule-missingDomain li[data-error-type="missingDomain"],
.has-error.has-error-rule-missingExtensionDot li[data-error-type="missingExtensionDot"],
.has-error.has-error-rule-missingExtension li[data-error-type="missingExtension"],
.has-error.has-error-rule-minlengthExtension li[data-error-type="minlengthExtension"] {
    display: list-item;
}

/* PANELS */
.panel-collapsible .card-header,
.panel-collapsible .panel-heading {
	cursor: pointer;
    position: relative;
}
.panel-collapsible .panel-heading:after {
    content: '\e114';
    font-family:'Glyphicons Halflings';
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.panel-collapsible .panel-heading.active:after {
    content: '\e113';
}
.panel-collapsible .card-body,
.panel-collapsible .panel-body {
    display: none;
}

.panel-collapsible .card-header > div {
    position: relative;
}

.panel-collapsible .card-header > div:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: black transparent transparent transparent;
}

.panel-collapsible .card-header.active > div:after {
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent black transparent;
}

.toggable-content-outer .fake-checkbox.btn-toggable-content,
.toggable-content-outer .fake-checkbox.btn-toggable-content ~ .toggable-label span,
.toggable-content-outer .toggable-content {
    display: none;
}

.toggable-content-outer .toggable-label {
    position: relative;
}

.toggable-content-outer .toggable-label span {
    cursor: pointer;
    font-size: 1rem;
}

.toggable-content-outer .toggable-label span:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.toggable-content-outer .toggable-label span:first-child:after {
    border-top: .3em solid;
    border-top-color: #ef476f;
}

.toggable-content-outer .toggable-label span:last-child:after {
    border-bottom: .3em solid;
    border-bottom-color: #ef476f;
}

.toggable-content-outer .fake-checkbox.btn-toggable-content:not(:checked) ~ .toggable-label span:first-child {
    display: block;
}

.toggable-content-outer .fake-checkbox.btn-toggable-content:checked ~ .toggable-label span:last-child,
.toggable-content-outer .fake-checkbox.btn-toggable-content:checked ~ .toggable-content {
    display: block;
}

/* ----- */
body > .container > div { position: relative; z-index: 0; }
#menu { top: 0; right: 0; z-index: 10; }
#menu .dropdown-toggle { background-color: #073b4c; }
#menu .dropdown-menu,
#hero .dropdown-menu {
    left: auto; right: 0;
}

#hero { z-index: 5; }

h1 { font-size: 4em; line-height: 1; display: inline-block; border-bottom: 2px solid rgba(0,0,0,0.15); padding: 0.25em 0.0625em; }
h2 { font-size: 3em; border-bottom: 2px solid rgba(0,0,0,0.15); padding: 0.25em 0.0625em; }
h3 { font-size: 2em; }
h1, h2, h3 { font-family: 'Fredericka the Great', cursive; }
h2, h3 { color: #ffd166; margin-top: 2em; }
h1 .small { font-family: 'Raleway', sans-serif; font-size: 0.5em; color: inherit; }
h3 .small { color: inherit; }
.sticky-title {
    position: -webkit-sticky; position: sticky; margin-bottom: 0;
    top: 0; z-index: 1; background: #073B4C; border-bottom: 2px solid rgba(0,0,0,0.15); padding: 0.25em 0.0625em;
}
.sticky-title + * { margin-top: 1rem !important; }
.sticky-title + p, .sticky-title + ul { margin-top: 0.5rem !important; }
.interline-normal { line-height: 1.2; }
.interline-sm { line-height: 1; }
hr { border-top: 1px solid rgba(0, 0, 0, 0.2); }
.mt-0 { margin-top: 0; }
.ml-4em { margin-left: 4em; }
.title-min { line-height: 0.75; }
.text-yellow { color: #ffd166; }
.text-red { color: #ef476f; }
.text-green { color: #06d6a0; }
.border-red { border-color: #ef476f !important; }
.border-green { border-color: #06d6a0 !important; }
.text-opacity { opacity: 0.5; }
ul { padding-left: 1em; }
a { color: #ef476f; }
a:hover, a:focus { color: inherit; }
pre { max-height: 355px; }
u { text-decoration: none; border-bottom: 1px solid #06d6a0; }
.panel { background-color: transparent; border-width: 2px; border-radius: 8px; /*color: #ccc;*/ }
.card-header { border: 0 none; border-top-right-radius: 6px; border-top-left-radius: 6px; }
.panel-transparent { color: #ccc; }
.no-bg { background: none; }
.padding-tb-md { padding-top: 1em; padding-bottom: 1em; }
.row-list-separator { border-top: 2px solid rgba(204, 204, 204, 0.2); }
.row-list-separator:first-child { border-top: 0 none; }
.dropdown-menu { min-width: auto; }
.dropdown-toggle.dropdown-red-outline { border: 1px solid #ef476f; color: #ef476f; }
.dropdown-toggle.dropdown-red-outline:after { border-top-color: #ef476f; }
.dropdown-toggle.dropdown-red-outline[aria-expanded="true"] { background-color: #ef476f !important; color: #fff; }
.dropdown-toggle.dropdown-red-outline[aria-expanded="true"]:after { border-top-color: #fff; }
.version-num { min-width: 32px; }