
form {
    font-size: 1.25rem;
}

.form-check:not(.form-check-inline) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-left: 0;
}

.form-check:not(.form-check-inline) .form-check-input {
    position: static;
    margin: 0 0.33em 0 0;
}

.input-group-addon, .form-control {
    font-size: 16px;
}

.form-group {
    margin-bottom: 1em;
}

label {
    font-size: 0.85em;
    font-weight: 300;
    margin: 0;
}

.input-group-addon,
.form-control,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon {
    background-color: transparent;
}

.radio.radio-inline { margin-top: 0; }

/* FORM */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
[type="file"] {
    cursor: pointer;
}
textarea {
    resize: none;
}
[data-formjs-question],
.question-box,
.answers-box,
.form-group {
    position: relative;
}
.form-group:first-child {
    margin-top: -4px;
}

.form-control {
    filter: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.85em;
    line-height: inherit;
    color: #fff !important;
    background-color: transparent !important;
    background-image: none;
    border: 0 none;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
    position: relative;
    z-index: 1;
}
.radio + .input-group {
    margin-top: -5px;
}

.input-group-prepend {
    margin-right: 0;
}
.input-group-prepend .input-group-text {
	background-color: transparent;
    color: #06d6a0;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    padding-left: 0;
}
.input-group-prepend .input-group-text label {
    margin-left: 0.15rem;
}
.has-error .input-group-prepend .input-group-text {
    border-width: 2px;
    border-color: #a94442;
}

/* ANIMATED LABELS */
.label-fade-down .form-control + label,
.label-move-up .form-control + label {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: absolute;
    left: 0;
    z-index: 0;
}

/* LABEL INLINE */
.label-inline {
    border-bottom: 1px solid rgba(255,255,255,0.25);
    -webkit-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
    overflow: hidden;
}
.label-inline label {
    position: static;
    display: table-cell;
    padding-right: 15px;
    vertical-align: middle;
    white-space: nowrap;
}
.label-inline .field-box {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
}
.label-inline .form-control {
    border-bottom: 0 none;
}

/* LABEL INLINE FLEX */
.label-inline-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row-reverse nowrap;
    -moz-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.label-inline-flex .form-control {
    border: 0 none;
}
.label-inline-flex label {
    position: static;
    padding-right: 15px;
    white-space: nowrap;
    margin: 0;
    transition: all 0.2s linear;
}
.label-inline-flex label:after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    -webkit-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
}
.has-error.is-dirty .label-inline-flex .form-control + label,
.label-inline-flex .form-control:focus + label,
.is-dirty .label-inline-flex .form-control + label {
    font-size: 0.75em;
    padding-right: 7px;
}
.label-inline-flex .form-control:focus + label:after {
    border-color: rgba(255,255,255,0.5);
}

/* LABEL FADE DOWN */
.label-fade-down .form-control + label {
    margin: 0;
    line-height: 34px;
    top: 0;
}
.has-error.is-dirty .label-fade-down .form-control + label,
.label-fade-down .form-control:focus + label,
.is-dirty .label-fade-down .form-control + label {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
}

/* LABEL MOVE UP */
.label-move-up .form-control {
    height: 3em;
    padding: 0.5em 0;
    margin-top: 1.5em;
}
.label-move-up .form-control[type="file"] {
    height: inherit;
}
.label-move-up .form-control + label {
    margin: 0;
    line-height: 1;
    top: 50%;
     -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.label-move-up textarea.form-control + label {
    top: 0.5em;
}
.label-move-up .form-control[type="date"] + label,
.label-move-up .form-control[type="file"] + label,
.has-error.is-dirty .label-move-up .form-control + label,
.label-move-up .form-control:focus + label,
.is-dirty .label-move-up .form-control + label {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    top: 0;
    font-size: 0.75em;
}

.form-control:focus {
    border-bottom-color: rgba(255,255,255,0.5);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control.smaller {
    font-size: 75%;
}
.label-move-up textarea.form-control,
textarea.form-control {
    line-height: inherit;
    height: 6em;
}
label, .radio label, .checkbox label {
    font-weight: 300;
}
.checkbox, .radio {
    text-align: left;
}
.checkbox label:before, .radio label:before {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin: 0;
    top: 4px;
    left: 7px;
}
.checkbox label:after, .radio label:after {
    width: 19px;
    height: 19px;
    font-size: 15px;
    margin: 0;
}
.checkbox label:after {
    top: 2px;
}
.radio label:before {
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}
.radio input[type="radio"]:checked + label:before {
    background-color: #fff;
}
.radio input[type="radio"]:checked + label:after {
    content: "";
    width: 16px;
    height: 16px;
    top: 6px;
    left: 9px;
}
.input-group {
    color: #fff;
}

/* FIELD WITH ERROR */
.has-error .form-control,
.has-error .form-control:focus,
.has-error .label-inline,
.has-error .label-inline-flex .form-control + label:after {
    border-color: #a94442;
    border-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error .label-inline,
.has-error .label-inline-flex .form-control + label:after {
    border-color: #a94442;
}

/* FIELD ERROR MESSAGE */
.field-error-message,
[data-error-type] {
    display: none;
    color: #a94442;
}
.has-error .field-error-message,
.has-error.has-error-empty [data-error-type="empty"],
.has-error.has-error-rule [data-error-type="rule"] {
    display: block;
}
.has-error.has-error-empty li[data-error-type="empty"],
.has-error.has-error-rule li[data-error-type="rule"] {
    display: list-item;
}

.has-error.has-error-rule-maxlength li[data-error-type="maxlength"],
.has-error.has-error-rule-minlength li[data-error-type="minlength"],
.has-error.has-error-rule-missingNumber li[data-error-type="missingNumber"],
.has-error.has-error-rule-missingLowercase li[data-error-type="missingLowercase"],
.has-error.has-error-rule-missingUppercase li[data-error-type="missingUppercase"],
.has-error.has-error-rule-invalidChars li[data-error-type="invalidChars"],
.has-error.has-error-rule-invalidStartChar li[data-error-type="invalidStartChar"]
.has-error.has-error-rule-missingAtChar li[data-error-type="missingAtChar"],
.has-error.has-error-rule-missingUserName li[data-error-type="missingUserName"],
.has-error.has-error-rule-missingDomain li[data-error-type="missingDomain"],
.has-error.has-error-rule-missingExtensionDot li[data-error-type="missingExtensionDot"],
.has-error.has-error-rule-missingExtension li[data-error-type="missingExtension"],
.has-error.has-error-rule-minlengthExtension li[data-error-type="minlengthExtension"] {
    display: list-item;
}

.nl-form {
    line-height: 2;
    font-size: 1.75em;
}

.nl-form [type="submit"] {
    border-radius: 1.25em;
    padding: 0.25em;
    font-size: 0.8em;
}

.nl-form .nl-text-box {
    position: relative;
    border-radius: 1em;
    padding: 0.25em 0.5em;
    background-color: #063241;
    margin: 0 15px 1em;
    z-index: 10;
}

.nl-form .nl-text-box.nl-text-out:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -8px;
    height: 20px;
    width: 20px;
    background-color: #063241;
    background-attachment: fixed;
    border-bottom-right-radius: 15px;
}

.nl-form .nl-text-box.nl-text-out:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -9px;
    width: 10px;
    height: 20px;
    background-color: #073b4c;
    border-bottom-right-radius: 10px;
}

.nl-form .nl-text-box.nl-text-in {
    background-color: #052b37;
    padding-bottom: 0.5em;
}

.nl-form .nl-text-box.nl-text-in:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background-color: #052b37;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.nl-form .nl-text-box.nl-text-in:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -9px;
    width: 10px;
    height: 20px;
    background-color: #073b4c;
    border-bottom-left-radius: 10px;
}

.nl-form p {
    display: inline;
}

.nl-form [data-formjs-question] {
    display: inline-flex;
}

.nl-form .form-control {
    display: inline;
    font-size: 1em;
    min-height: auto;
    height: auto;
    padding: 0 0.125em;
    line-height: 1.2;
    border-radius: 0;
}

.nl-form select.form-control {
    min-width: 150px;
}

.nl-form .form-control::placeholder{ color:#fff; }
.nl-form .form-control:focus::placeholder{ opacity: 0.25; }

.nl-form [type="number"],
.nl-form [data-subtype="number"],
.nl-form [data-subtype="number-integer"] {
    inline-size: 7ch;
    text-align: center;
}

.nl-form [type="date"],
.nl-form [data-subtype="date"] {
    text-align: center;
}

.nl-form .field-error-message,
.nl-form [data-error-type] {
    position: absolute;
    font-size: 0.6em;
    top: 100%;
    line-height: 1.2;
}

.nl-form .alert {
    border-radius: 1em;
}
