# Auto detect text files and perform LF normalization
* text=auto
index.html linguist-documentation
demos.html linguist-documentation
test.html linguist-documentation
css/* linguist-documentation
js/* linguist-documentation
json/* linguist-documentation
dist/* linguist-generated=true
