# Auto detect text files and perform LF normalization
* text=auto
*.html linguist-documentation
css/* linguist-documentation
js/* linguist-documentation
json/* linguist-documentation
remoteValidations/* linguist-documentation
dist/* linguist-generated=true
